.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hexagon {
    fill: none;
    stroke: #000;
    stroke-width: .0px;
}
